@using FrontEnd_GraphQL.Application.Models

<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>Commission Id</th>
            <th>Order Id</th>
            <th>Advertiser Name</th>
            <th>Sale Amount Usd</th>
            <th>Order Discount Usd</th>
            <th>Posting Date</th>
        </tr>
    </thead>
    <tbody>
        @if (data != null)
        {
            @foreach (var item in data)
            {
                <tr>
                    <td>@item.CommissionId</td>
                    <td>@item.OrderId</td>
                    <td>@item.AdvertiserName</td>
                    <td>@item.SaleAmountUsd</td>
                    <td>@item.OrderDiscountUsd</td>
                    <td>@item.PostingDate.ToShortDateString()</td>
                </tr>
            }
        }
        else
        {
            <p>No users available.</p>
        }
    </tbody>
</table>

<div class="container-pagination">

    <div class="pagination">

        @if (hasPrevious)
        {
            <button class="btn btn-outline-primary" @onclick="() => ChangePage(pageNumber - 1)">
                <span aria-hidden="true">&laquo;</span>
            </button>
        }
        else
        {
            <button class="btn btn-outline-secondary" disabled @onclick="() => ChangePage(pageNumber - 1)">
                <span aria-hidden="true">&laquo;</span>
            </button>
        }


        @for (int i = 1; i <= Math.Min(pageCount, 4); i++)
        {
            int currentPage = i;

            <button class="btn @(currentPage == pageNumber ? "btn-outline-primary active" : "btn-outline-primary")" @onclick="() => ChangePage(currentPage)">
                @currentPage
            </button>

        }

        @if (pageCount > 5)
        {
            <button class="btn btn-outline-primary">
                ...
            </button>
            <button class="btn @(pageCount == pageNumber ? "btn-outline-primary active" : "btn-outline-primary")" @onclick="() => ChangePage(pageCount)">
                @pageCount
            </button>
        }

        @if (hasNext)
        {
            <button class="btn btn-outline-primary" @onclick="() => ChangePage(pageNumber + 1)">
                <span aria-hidden="true">&raquo;</span>
            </button>
        }
        else
        {
            <button class="btn btn-outline-secondary" disabled @onclick="() => ChangePage(pageNumber + 1)">
                <span aria-hidden="true">&raquo;</span>
            </button>
        }
    </div>

    <div class="dropup-center dropup">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            items per page
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" @onclick="() => SetPageSize(25)">25</a></li>
            <li><a class="dropdown-item" @onclick="() => SetPageSize(50)">50</a></li>
            <li><a class="dropdown-item" @onclick="() => SetPageSize(75)">75</a></li>
            <li><a class="dropdown-item" @onclick="() => SetPageSize(100)">100</a></li>
        </ul>

    </div>
</div>

@code {
    [Parameter] public List<Commissions>? data { get; set; }
    [Parameter] public int pageNumber { get; set; }
    [Parameter] public int pageSize { get; set; }
    [Parameter] public int pageCount { get; set; }
    [Parameter] public bool hasPrevious { get; set; }
    [Parameter] public bool hasNext { get; set; }

    [Parameter] public EventCallback<PaginatedArgs> OnGetData { get; set; }

    private int? selectedPage = 1;


    private async Task SetPageSize(int size)
    {
        var args = new PaginatedArgs { PageNumber = 1, PageSize = size };
        await OnGetData.InvokeAsync(args);
    }

    private async Task ChangePage(int newPage)
    {
        if (newPage >= 1 && newPage <= pageCount)
        {
            pageNumber = newPage;
            selectedPage = newPage;
        }

        var args = new PaginatedArgs { PageNumber = pageNumber};
        await OnGetData.InvokeAsync(args);
    }
}