<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>User Id</th>
            <th>Employee Id</th>
            <th>Email</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        @if (users != null)
        {
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.EmployeeId</td>
                    <td>@user.Email</td>
                    <td>@user.Designation</td>
                </tr>
            }
        }
        else
        {
            <p>No users available.</p>
        }
    </tbody>
</table>

<div class="container-pagination">

    <div class="pagination">

        <button class="btn btn-outline-primary" disabled="@(!hasPrevious)" @onclick="() => ChangePage(pageNumber - 1)">
            <span aria-hidden="true">&laquo;</span>
        </button>

        @for (int i = 1; i <= Math.Min(pageCount, 4); i++)
        {
            int currentPage = i;

            <button class="btn @(currentPage == pageNumber ? "btn-outline-primary active" : "btn-outline-primary")" @onclick="() => ChangePage(currentPage)">
                @currentPage
            </button>

        }

        @if (pageCount > 5)
        {
            <button class="btn btn-outline-primary">
                ...
            </button>
            <button class="btn @(pageCount == pageNumber ? "btn-outline-primary active" : "btn-outline-primary")" @onclick="() => ChangePage(pageCount)">
                @pageCount
            </button>
        }

        <button class="btn btn-outline-primary" disabled="@(!hasNext)" @onclick="() => ChangePage(pageNumber + 1)">
            <span aria-hidden="true">&raquo;</span>
        </button>

    </div>

    <div class="dropup-center dropup">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            items per page
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" @onclick="() => SetPageSize(1)">1</a></li>
            <li><a class="dropdown-item" @onclick="() => SetPageSize(5)">5</a></li>
            <li><a class="dropdown-item" @onclick="() => SetPageSize(10)">10</a></li>
            <li><a class="dropdown-item" @onclick="() => SetPageSize(20)">20</a></li>
        </ul>
    </div>


</div>

@code {

    private int pageNumber = 1;
    private int pageSize = 1;
    private int pageCount = 0;
    private bool hasPrevious = false;
    private bool hasNext = false;
    private int selectedPage = 1;
    
    List<User> users = new List<User>
    {
        new User { UserId = 1, EmployeeId = "EMP001", Email = "user1@example.com", Designation = "Developer", ReportingManager = "Manager 1", JoiningDate = new DateTime(2022, 1, 1), DateOfBirth = new DateTime(1990, 1, 1), DisplayName = "User One", RoleId = "Role001" },
        new User { UserId = 2, EmployeeId = "EMP002", Email = "user2@example.com", Designation = "Designer", ReportingManager = "Manager 2", JoiningDate = new DateTime(2021, 12, 1), DateOfBirth = new DateTime(1985, 5, 15), DisplayName = "User Two", RoleId = "Role002" },
        new User { UserId = 3, EmployeeId = "EMP003", Email = "user3@example.com", Designation = "Manager", ReportingManager = "Manager 3", JoiningDate = new DateTime(2020, 11, 1), DateOfBirth = new DateTime(1980, 10, 10), DisplayName = "User Three", RoleId = "Role003" }
    };

    private async Task SetPageSize(int size)
    {
        pageNumber = 1;
        pageSize = size;
    }

    private async Task ChangePage(int newPage)
    {
        if (newPage >= 1 && newPage <= pageCount)
        {
            pageNumber = newPage;
            selectedPage = newPage;
        }
    }

    public class User
    {
        public int UserId { get; set; }
        public string EmployeeId { get; set; }
        public string Email { get; set; }
        public string Designation { get; set; }
        public string ReportingManager { get; set; }
        public DateTime JoiningDate { get; set; }
        public DateTime DateOfBirth { get; set; }
        public string DisplayName { get; set; }
        public string RoleId { get; set; }
    }
}